<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="admin/_fragments :: head(~{:: title})">
		<title>博客发布</title>
	</head>
	<body>
		
		<!--导航-->
		<nav th:replace="admin/_fragments :: menu(1)"></nav>
		
		<!--二级导航-->
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="#" th:href="@{/admin/blogs/input}" class="teal active item">发布</a>
					<a href="#" th:href="@{/admin/blogs}" class="item">列表</a>
				</div>				
			</div>			
		</div>
		
		
		
		<!--中间内容-->
		<div class="m-padded-tb-big m-container">
			<div class="ui container">
				<form id="blog-form" th:object="${blog}" action="#" th:action="@{/admin/blogs}" method="post" class="ui form">
					<input type="hidden" name="published" th:value="*{published}"><!--published当点击保存为false，发布为true-->
					<input type="hidden" name="id" th:value="*{id}"><!--隐藏域获取id-->
					<!--标题-->
					<div class="required field">						
						<div class="ui left labeled input">
							<div class="ui compact teal basic selection dropdown label"><!--一个下拉选择;compact:适应文字大小-->
								<input type="hidden" value="选择" name="flag" th:value="*{flag}"/>
								<i class="dropdown icon"></i><!--下拉图标-->
								<div class="text">原创</div><!--默认内容-->
								<!--下拉菜单-->
								<div class="menu">
									<div class="item" data-value="原创">原创</div>
									<div class="item" data-value="转载">转载</div>
									<div class="item" data-value="翻译">翻译</div>
								</div>
							</div>
							<input type="text" name="title" placeholder="标题" th:value="*{title}" />
						</div>
					</div>
					
					<!--写博客的区域-->
					<div class="required field">
						<div id="md-content" style="z-index: 1 !important;"> <!--z-index代表叠放层次-->
							<textarea placeholder="博客内容" name="content" style="display: none;" th:text="*{content}"></textarea>
						</div>						
					</div>
					
					
					<!--分类下拉框-->
					<div class="required field">
						<div class="ui left labeled action input">
							<!--分类标签-->
							<label class="ui compact teal basic label">分类</label>
							<!--下拉框-->
							<div class="ui fluid selection dropdown">
								<input type="hidden" name="type.id" th:value="*{type}!=null ? *{type.id}"/>
								<i class="dropdown icon"></i>
								<div class="default text">分类</div>
								<!--下拉菜单-->
								<div class="menu">
									<div th:each="type : ${types}" class="item" data-value="1" th:data-value="${type.id}" th:text="${type.typeName}">分类1</div>
								</div>
							</div>
						</div>
					</div>
					
					
					<!--标签下拉框：允许输入多个标签-->
					<div class="field">
						<div class="ui left labeled action input">
							<!--分类标签-->
							<label class="ui compact teal basic label">标签</label>
							<!--下拉框-->
							<div id="tag-div" class="ui fluid multiple search selection dropdown"><!--fluid 充满整个空间；multiple：多选的； search：可搜索的-->
								<input type="hidden" name="tagIds" th:value="*{tagIds}"/>
								<i class="dropdown icon"></i>
								<div class="default text">标签</div>
								<!--下拉菜单-->
								<div class="menu">
									<div th:each="tag : ${tags}" class="item" data-value="1" th:data-value="${tag.id}" th:text="${tag.tagName}">标签1</div>
								</div>
							</div>
						</div>
					</div>
										
					<!--首图框-->				
					<div class="required field">
						<div class="ui left labeled input">							
							<label class="ui teal basic label">首图</label>							
							<input type="text" name="firstPicture" th:value="*{firstPicture}" placeholder="首图引用地址" />
						</div>
					</div>

					<!--博客描述-->
					<div class="required field">
						<textarea name="description" th:text="*{description}" placeholder="博客描述..." maxlength="200"></textarea>
					</div>
					
					<!--最下面的四个复选框-->
					<div class="inline fields">
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="recommend" name="recommend" th:checked="*{recommend}" class="hidden"/><!--hidden：默认不选中-->
								<label for="recommend">推荐</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="shareStatement" name="shareStatement" th:checked="*{shareStatement}" class="hidden"/><!--hidden：默认不选中-->
								<label for="shareStatement">转载声明</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="appreciation" name="appreciation" th:checked="*{appreciation}" class="hidden"/><!--hidden：默认不选中-->
								<label for="appreciation">赞赏</label>
							</div>
						</div>
						<div class="field">
							<div class="ui checkbox">
								<input type="checkbox" id="commentabled" name="commentabled" th:checked="*{commentabled}" class="hidden"/><!--hidden：默认不选中-->
								<label for="commentabled">评论</label>
							</div>
						</div>
					</div>
						
					<!--错误提示放置的地方-->	
					<div class="ui error message"></div>
					
					<!--最下面的三个按钮-->
					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button><!--onclick响应一个事件-->
						<button type="button" id="save-btn" class="ui secondary button">保存</button><!--不指定的话，默认行为是提交-->
						<button type="button" id="publish-btn" class="ui teal button">发布</button>
					</div>
					
				</form>
			</div>		
		</div>
		
			
		

		<!--底部-->
		<!--<footer th:replace="admin/_fragments :: footer"></footer>-->


		<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
			<script src="../../static/lib/editorMarkdown/editormd.min.js"></script>
		<!--/*/</th:block>/*/-->

		
		<!--写自己的js样式 -->
		<script>
			
			/*初始化markdown编辑器*/
			var contentEditor;
            $(function() {
                contentEditor = editormd("md-content", {
                    width   : "100%",
                    height  : 640,
                    syncScrolling : "single",
                    /*path    : "../../static/lib/editorMarkdown/lib/"*/  /*如果使用了thymleaf模板，这里就从static下直接写*/
                    path    : "/lib/editorMarkdown/lib/"
                });
            });
			
			
			/*处理：menu toggle，要写成：menu.toggle*/
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');  /*意思是如果有m-mobile-hide样式，一点击就取消；如果没有，一点击就出现*/
			});
			
			/*下拉菜单的js*/
			$('.ui.dropdown').dropdown();

			/*处理save-btn"*/
			$('#save-btn').click(function(){
				$('[name="published"]').val(false); /* published当点击保存为false，发布为true*/
				/*提交form表单*/
				$('#blog-form').submit();
			});

            /*处理"publish-btn"*/
            $('#publish-btn').click(function(){
                $('[name="published"]').val(true); /* published当点击保存为false，发布为true*/
                $('#blog-form').submit();
            });

            /*处理tag-div，使得可以自定义tag*/
            $('#tag-div')
                .dropdown({
                    allowAdditions: true
                })
            ;
			
			/*校验表单，有些内容必须写*/
			$('.ui.form').form({
				fields :{
				    /*校验title*/
					title : {
						identifier: 'title',
						rules: [{
							type : 'empty',
							prompt: '请输入博客标题'
						}]
					},
                    content : {
                        identifier: 'content',
                        rules: [{
                            type : 'empty',
                            prompt: '请输入博客内容'
                        }]
                    },
                    typeId : {
                        identifier: 'typeId',
                        rules: [{
                            type : 'empty',
                            prompt: '请输入博客分类'
                        }]
                    },
                    firstPicture : {
                        identifier: 'firstPicture',
                        rules: [{
                            type : 'empty',
                            prompt: '请输入博客首图'
                        }]
                    },
                    description : {
                        identifier: 'description',
                        rules: [{
                            type : 'empty',
                            prompt: '请输入博客描述'
                        }]
                    }
				}
			});
			
		</script>	
		
	</body>
</html>
