<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="admin/_fragments :: head(~{:: title})">
		<title>标签管理</title>
	</head>
	<body>
		
		<!--导航-->
		<nav th:replace="admin/_fragments :: menu(3)"></nav>

		<!--二级导航-->
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
                    <a href="#" th:href="@{/admin/tags/input}" class="item">发布</a>
                    <a href="#" th:href="@{/admin/tags}" class="teal active item">列表</a>
				</div>
			</div>
		</div>
		
		<!--中间内容-->
		<div class="m-padded-tb-big m-container-small">
			<div class="ui container">

				<!--接受新增成功还是失败的消息-->
				<div class="ui negative message" th:unless="${#strings.isEmpty(message)}">
					<i class="close icon"></i>
					<div class="header">提示：</div>
					<p th:text="${message}">操作成功</p>
				</div>
				<!--表格-->
				<table class="ui celled table"><!--celled加上网格线-->
					<thead>
						<tr>
							<th></th>
							<th>名称</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="tag,iterStat : ${page.content}">
							<td th:text="${iterStat.count}">1</td>
							<td th:text="${tag.tagName}">可以联系清单</td>
							<td>
								<a href="#" th:href="@{/admin/tags/{id}/input(id=${tag.id})}" class="ui mini teal basic button">编辑</a>
								<a href="#" th:href="@{/admin/tags/{id}/delete(id=${tag.id})}" class="ui mini red basic button">删除</a>
							</td>
						</tr>
					</tbody>
					<!--表格最底部-->
					<tfoot>						
						<tr>
							<th colspan="6"><!--colspan="6"合并6列-->
								<div class="ui mini pagination menu" th:if="${page.totalPages}>1">
							        <a th:href="@{/admin/tags(page=${page.number}-1)}" class="item" th:unless="${page.first}">上一页</a>
							        <a th:href="@{/admin/tags(page=${page.number}+1)}" class="item" th:unless="${page.last}">下一页</a>
							    </div>
							    <a href="#" th:href="@{/admin/tags/input}" class="ui mini right floated teal basic button">新增</a>
							</th>
						</tr>
					</tfoot>
				</table>
				
			</div>		
		</div>
		
			
		

		<!--/*/<th:block th:replace="admin/_fragments :: script">/*/-->
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
		<!--/*/</th:block>/*/-->

		<!--写自己的js样式 -->
		<script>
			/*处理：menu toggle，要写成：menu.toggle*/
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');  /*意思是如果有m-mobile-hide样式，一点击就取消；如果没有，一点击就出现*/
			});
			
			/*下拉菜单的js*/
			$('.ui.dropdown').dropdown();

			/*消息提示关闭初始化*/
			$('.message .close')
				.on('click',function () {
					$(this)
						.closest('.message')
						.transition('fade');
                });
			
		</script>	
		
	</body>
</html>
