/*我自己写的样式*/

body{
	background: url(../img/bg.png); /*背景图皮*/
}


/*padding*/
.m-padded-tb-mini{
	padding-top: 0.2em !important;
	padding-bottom: 0.2em !important;	
}

.m-padded-mini{
	padding: 0.2em !important;	
}

.m-padded-tiny{
	padding: 0.3em !important;	
}

.m-padded{
	padding: 1em !important;	
}

.m-padded-px{
	padding: 1px !important;	
}

.m-padded-tb-samll{
	padding-top: 0.5em !important;
	padding-bottom: 0.5em !important;	
}

.m-padded-tb{
	padding-top: 1em !important;
	padding-bottom: 1em !important;	
}

.m-padded-tb-button{
	padding-bottom: 1em !important;	
}

.m-padded-tb-large{
	padding-top: 2em !important;
	padding-bottom: 2em !important;	
}

.m-padded-tb-big{
	padding-top: 3em !important;
	padding-bottom: 3em !important;	
}

.m-padded-tb-huge{
	padding-top: 4em !important;
	padding-bottom: 4em !important;	
}

.m-padded-tb-massive{
	padding-top: 5em !important;
	padding-bottom: 5em !important;	
}

.m-padded-lr-responsive{
	padding-left: 3em !important;
	padding-right: 3em !important;
}


/*设置字体*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8;
}

.m-text-thin{
	font-weight: 300 !important;
}

.m-text-spaced{
	letter-spacing: 1px !important;
}
.m-text-lined{
	line-height: 1.8 !important;
}

/*设置透明度*/
.m-opacity-mini{
	opacity: 0.8 !important;
}

.m-opacity-tiny{
	opacity: 0.6 !important;
}


/*设置display*/
.m-inline-block{
	display: inline-block !important;
}

/*container：宽度*/
.m-container{
	max-width: 72em !important;
	margin: auto !important;
}

.m-container-small{
	max-width: 60em !important;
	margin: auto !important;
}


/*设置margin*/
.m-margin-tb-small{
	margin-top: 0.5em !important;
	margin-bottom: 0.5em !important;	
}


.m-margin-top-small{
	margin-top: 0.5em !important;
}

.m-margin-top{
	margin-top: 1em !important;
}

.m-margin-top-large{
	margin-top: 2em !important;
}

.m-margin-bottom-mini{
	margin-bottom: 0.2em !important;
}

/*定义颜色*/
.m_black{
	color: #333 !important;  /*黑色*/
}

.m_green{
	color: green !important;  /*绿色*/
}

.m_teal{
	color: #00B5AD !important;
}

/*position 布局*/
.m-right-top{
	position: absolute !important;  /*相对布局*/
	top:0 !important;
	right: 0 !important;
}

.m-fixed {
	position: fixed !important; /*绝对布局*/
	z-index: 10 !important; /*浮动在最上面，数字越大越上面*/
}

.m-right-buttom{
	bottom: 0 !important;
	right: 0 !important;
}

/*当是手机端的时候才出现，平时是隐藏的*/
.m-mobile-show{
	display: none !important;
}

/*当是手机端时*/
@media screen and (max-width: 768px) {
	.m-mobile-hide{
		display: none !important;
	}
	
	/*当是手机端的时候才出现，平时是隐藏的*/
	.m-mobile-show{
	display: block !important;
	}
	
	/*手机端取消间隔*/
	.m-padded-lr-responsive{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	/*手机端取消间隔*/
	.m-padded-lr-clear{
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	
	/*手机端：宽度充满*/
	.m-mobile-wide{
		width: 100% !important;
	}
}

/*阴影*/
.m-shadow-small{
	-webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
	box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/*看板娘独有的样式*/
#btnTexure{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-moz-box-shadow:
			0px 1px 3px rgba(0,0,0,0.5),
			inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
			0px 1px 3px rgba(0,0,0,0.5),
			inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
			0px 1px 3px rgba(0,0,0,0.5),
			inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
			0px -1px 0px rgba(0,0,0,0.4),
			0px 1px 0px rgba(255,255,255,0.3);
}
#btnTexure.active{
	background: linear-gradient(
			to bottom,
			#3498db,
			#2980b9);
	background: -moz-linear-gradient(
			top,
			#3498db 0%,
			#2980b9);
	background: -webkit-gradient(
			linear, left top, left bottom,
			from(#3498db),
			to(#2980b9));
	border: 1px solid #2980b9;
}
#btnTexure.inactive {
	background: linear-gradient(
			to bottom,
			#e74c3c,
			#c0392b);
	background: -moz-linear-gradient(
			top,
			#e74c3c 0%,
			#c0392b);
	background: -webkit-gradient(
			linear, left top, left bottom,
			from(#e74c3c),
			to(#c0392b));
	border: 1px solid #c0392b;
}

#displayy{
	z-index: 10001;
}

.m-bg-class_outer {
	display: block;
	/*width: 550px;*/
	/*height: 276px;*/
	/*margin: 10px auto 0 0;*/
	position: relative;
	overflow: hidden;
}

.m-bg{
	width: 100%;
	height: 650px;
	object-fit: cover;
}

.m-bg-class_cover {
	width: 100%;
	height: 750px;
	line-height: 50px;
	padding-left: 6px;
	background-color: rgba(0, 0, 0, .60);
	position: absolute;
	left: 0px;
	bottom: 0px;
	/*display: flex;
	justify-content: center;
	align-items: center;*/
}

.m-font-size-text{
	font-size: 26px;
	color: #ffffff;
	font-family: STXihei;
}

.m-font-size-title-large{
	font-size: 30px;
	color: #ffffff;
	font-family: STSong;
}

.m-margin-top-maxx {
	margin-top: 20em !important;
}

