<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
	<title>归档</title>
</head>
<body>
		
		<!--导航-->
		<nav th:replace="_fragments :: menu(4)"></nav>
					
		<!--中间内容-->
		<div class="m-padded-tb-big">
			<div class="ui container">

				<!--header-->
				<div class="ui segment">
					<div class="ui middle aligned two column grid"><!--共两列:middle aligned代表垂直方向的居中-->
						<!--第一列-->
						<div class="column">
							<h3 class="ui teal header">归档</h3>
						</div>
						<!--第二列-->
						<div class="right aligned column">
							共  <h2 class="ui orange header m-inline-block m-text-thin" th:text="${blogCount}">114</h2> 篇
						</div>
					</div>
				</div>

				<div class="ui vertical segment"><!--vertical垂直的-->
					<div class="ui stackable grid">

						<div class="three wide column">
							<!--日期-->
							<div class="ui attached segment padded">
								<div class="ui fluid vertical menu">
									<a href="#" th:href="@{/archives/{time}(time=${time})}" class="item" th:each="time : ${archivesTimes}">
										<span class="" th:classappend="${time==activeTime} ? 'm_teal'"  th:text="${time}">2020年5月</span>
									</a>
								</div>
							</div>
						</div>

						<div class="thirteen wide column">
							<!--文章-->
							<div class="ui attached segment">
								<div class="ui padded vertical segment">
									<div class="ui fluid vertical menu">
										<!--一篇文章-->
										<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item" th:each="blog : ${archivesBlogs}">
									<span>
										<i class="mini teal circle icon"></i>
										<span th:text="${blog.title}">关于刻意练习的清单</span>
										<div class="ui teal basic left pointing label m-padded-mini" th:text="${#dates.format(blog.creatTime, 'MMMdd日')}">5月18日</div>
									</span>
											<div class="ui orange basic label m-padded-mini" th:text="${blog.flag}">原创</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--底部-->
		<footer th:replace="_fragments :: footer"></footer>


		<th:block th:replace="_fragments :: script"></th:block>

		<!--写自己的js样式 -->
		<script>
			/*处理：menu toggle，要写成：menu.toggle*/
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');  /*意思是如果有m-mobile-hide样式，一点击就取消；如果没有，一点击就出现*/
			});
		</script>	
		
	</body>
</html>
