<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
	<title>首页</title>
</head>
<body onload="InitLive2D()">
		
		<!--导航-->
		<nav th:replace="_fragments :: menu(1)"></nav>
					
		<!--中间内容-->
		<div class="m-padded-tb-big">
			<div class="ui container"><!--container的作用是根据页面调整模块-->
				<div class="ui stackable grid"><!--我更喜欢不加这个stackable-->
					
					<!--还是分为16分，左边博客11份-->
					<div class="eleven wide column">
						<!--header-->
						<div class="ui top attached segment"><!--top attached会把header与博客列表连接在一块-->
							<div class="ui middle aligned two column grid"><!--共两列:middle aligned代表垂直方向的居中-->
								<!--第一列-->
								<div class="column">
									<h3 class="ui teal header">博客</h3>
								</div>
								<!--第二列-->
								<div class="right aligned column">
									共  <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">14</h2> 篇
								</div>
							</div>
						</div>
						
						<!--博客列表-->
						<div class="ui attached segment"><!--attached表示遇上一块连接-->
							<!--一个博客的显示-->
							<div class="ui padded  vertical segment" th:each="blog : ${page.content}">
								<div class="ui middle aligned mobile reversed stackable grid"> <!--mobile reversed就是说当是手机端的时候，将图片的div放到上面-->
									<!--左边占11份-->
									<div class="eleven wide column">
										<!--文章标题-->
										<h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m_black" th:text="${blog.title}">你真的理解什么是财富自由吗？</a></h3>
										<!--描述内容;|${blog.description}......|代表可以将......与${blog.description}连接在一起-->
										<p th:text="|${blog.description}......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
										<!--作者等信息-->
										<div class="ui grid">
											<div class="eleven wide column">
												<div class="ui horizontal link list"><!--横着的list-->
													<div class="item">
														<!--图片大小：100X100-->
														<img src="../static/img/头像.jpg" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image" />
														<!--名字-->
														<div class="content"><a href="#" class="header" th:text="${blog.user.nickName}">Emma</a></div>
													</div>
													<!--时间-->
													<div class="item"><i class="calendar icon"></i><span th:text="${#dates.format(blog.creatTime,'yyyy-MM-dd')}">2020-05-16</span></div>
													<!--访问量-->
													<div class="item"><i class="eye icon"></i><span th:text="${blog.views}">1000</span></div>
												</div>
											</div>

										</div>
									</div>
									
									<!--右边-->
									<div class="five wide column">
										<!--图片：是一个链接，点击图片可以进入文章-->
										<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
											<!--图片大小：800x400--> <!--https://picsum.photos/id/1008/800/450-->
											<img src="https://picsum.photos/id/1008/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image" />
										</a>
									</div>
								</div>
							</div>

						</div>


						<!--botton：上下翻页按钮-->
						<div class="ui bottom attached segment" th:if="${page.totalPages}>1">
							<div class="ui middle aligned two column grid"><!--共两列:middle aligned代表垂直方向的居中-->
								<!--第一列-->
								<div class="column">
									<a href="#" th:href="@{/(page=${page.number}-1)}" class="ui mini teal basic button" th:unless="${page.first}">上一页</a><!--teal basic用于形容样式-->
								</div>
								<!--第二列-->
								<div class="right aligned column">
									<a href="#" th:href="@{/(page=${page.number}+1)}" class="ui mini teal basic button" th:unless="${page.last}">下一页</a>
								</div>
							</div>
						</div>
					</div>
					
					<!--右边5份-->
					<div class="five wide column">
						
						<!--分类框-->
						<div class="ui segments"><!--segments 很多段-->
							<!--上面的框-->
							<div class="ui secondary segment">
								<div class="ui two column grid">
									<div class="column"> <i class="idea icon"></i> 分类 </div><!--图标+分类-->
									<div class="right aligned column">
										<a href="#" th:href="@{/types/-1}" target="_blank"> more <i class="angle double right icon"></i> </a>
									</div>
								</div>
							</div>
							<!--下面的卡片框-->
							<div class="ui teal segment"><!--加一条线-->
								<!--分类菜单-->
								<div class="ui labeled button m-margin-tb-small" th:each="type : ${types}">
								  <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="ui basic teal button" th:text="${type.typeName}"> Java </a>
								  <div class="ui basic teal left pointing label" th:text="${#arrays.length(type.blogs)}"> 11 </div>
								</div>
								<!--/*-->
								<div class="ui labeled button m-margin-tb-small">
								  <div class="ui basic teal button"> Java </div>
								  <a href="#" class="ui basic teal left pointing label"> 11 </a>
								</div>
								<div class="ui labeled button m-margin-tb-small">
								  <div class="ui basic teal button"> Java </div>
								  <a href="#" class="ui basic teal left pointing label"> 11 </a>
								</div>
								<div class="ui labeled button m-margin-tb-small">
								  <div class="ui basic teal button"> Java </div>
								  <a href="#" class="ui basic teal left pointing label"> 11 </a>
								</div>
								<!--*/-->
							</div>							
						</div>
						
						<!--标签框-->
						<div class="ui segments">
							<!--上面的框-->
							<div class="ui secondary segment">
								<div class="ui two column grid">
									<div class="column"> <i class="tags icon"></i> 标签 </div><!--图标+分类-->
									<div class="right aligned column">
										<a href="#" th:href="@{/tags/-1}" target="_blank" > more <i class="angle double right icon"></i> </a>
									</div>
								</div>
							</div>
							<!--下面的内容-->
							<div class="ui teal segment">
								<!--标签-->
								<a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal tag label m-margin-tb-small" th:each="tag : ${tags}">
									<span th:text="${tag.tagName}">Java</span>
								</a>
							</div>
						</div>
						
						<!--最新推荐框-->
						<div class="ui segments">
							<!--上面的框-->
							<div class="ui secondary segment">
								<i class="bookmark icon"></i> 最新推荐    <!--图标+文字-->
							</div>
							<!--下面的文章-->
							<div class="ui segment" th:each="recommendBlog : ${recommendBlogs}">
								<a href="#" th:href="@{/blog/{id}(id=${recommendBlog.id})}" target="_blank" class="m_black" th:text="${recommendBlog.title}">最新文章</a>
							</div>
						</div>
						

					</div>
				</div>
			</div>			
		</div>



		<!--看板娘-->
		<div th:replace="_fragments :: kanbanniang" id="landlord">
			<div class="message" style="opacity:0"></div><!--style="opacity:0"设置透明度-->
			<canvas id="live2d" width="280" height="250"></canvas><!--mycanvas-->
		</div>


		<br /><br />
		<!--底部-->
		<footer th:replace="_fragments :: footer"></footer>


		<!--/*/<th:block th:replace="_fragments :: script">/*/-->
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
			<script src="../static/lib/live2d/js/live2d.min.js"></script>
			<script src="../static/lib/live2d/js/message.js"></script>
		<!--/*/</th:block>/*/-->

		<!--处理：menu toggle，要写成：menu.toggle -->
		<script>
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');  /*意思是如果有m-mobile-hide样式，一点击就取消；如果没有，一点击就出现*/
			});

            /*鼠标放上去，看板娘显示高考倒计时*/
            /*$('#live2d').popup({
                popup : $('#timer'), /!*鼠标放上去显示*!/
                on : 'click',    /!*按下时出现*!/
                position : 'right'  /!*位置*!/
            });*/
		</script>

        <!--/*/<th:block th:replace="_fragments :: kanbanniangscript">/*/-->

		<script type="text/javascript">
            var message_Path = '/lib/live2d/'
            var home_Path = 'http://localhost:8080/'  //此处修改为你的域名，必须带斜杠
		</script>

		<script>
			var u = "/lib/live2d/model/Pio/model.json"
            var LAppDefine = {
                // 调试，true时会在console里显示日志
                DEBUG_LOG : true,
                DEBUG_MOUSE_LOG : false, // 鼠标相关日志
                //  全部设定
                //这里配置canvsa元素的id
                CANVAS_ID : "live2d",
                //是否开启滚轮缩放，默认true
                IS_SCROLL_SCALE : true,
                // 画面最大缩放级别
                VIEW_MAX_SCALE : 2,
                // 画面最小缩放级别
                VIEW_MIN_SCALE : 0.8,

                VIEW_LOGICAL_LEFT : -1,
                VIEW_LOGICAL_RIGHT : 1,

                VIEW_LOGICAL_MAX_LEFT : -2,
                VIEW_LOGICAL_MAX_RIGHT : 2,
                VIEW_LOGICAL_MAX_BOTTOM : -2,
                VIEW_LOGICAL_MAX_TOP : 2,

                // 动作优先级常量
                PRIORITY_NONE : 0,
                PRIORITY_IDLE : 1,
                PRIORITY_NORMAL : 2,
                PRIORITY_FORCE : 3,

                //是否绑定切换模型按钮
                IS_BIND_BUTTON : false,
                //绑定按钮元素id
                BUTTON_ID : "Change",
                //是否开启模型切换完成之前禁止按钮点击的选项，默认为true
                IS_BAN_BUTTON : true,
                //设置按钮禁止状态时的class，可自定义样式，前提是IS_BAN_BUTTON为true
                BAN_BUTTON_CLASS : "inactive",
                //设置按钮正常状态时的class
                NORMAL_BUTTON_CLASS : "active",
                //衣服切换模式 目前只支持两种 sequence-顺序 random-随机
                //需事先配置好json文件里的textures属性
                //暂不支持保存功能
                TEXURE_CHANGE_MODE : "sequence",
                IS_START_TEXURE_CHANGE : true,
                TEXURE_BUTTON_ID : "live2d",
                /**
                 *  模型定义
                 自定义配置模型，同一数组内放置两个模型则为开启双模型
                 三模型也只取数组里的前两个
                 模型出现的顺序与数组一致
                 这里请用相对路径配置
                 */
                MODELS:
                    [
                        [u]
                    ],

                // 与外部定义的json文件匹配
                MOTION_GROUP_IDLE : "idle", // 空闲时
                MOTION_GROUP_TAP_BODY : "tap_body", // 点击身体时
                MOTION_GROUP_FLICK_HEAD : "flick_head", // 抚摸头部
                MOTION_GROUP_PINCH_IN : "pinch_in", // 放大时
                MOTION_GROUP_PINCH_OUT : "pinch_out", // 缩小时
                MOTION_GROUP_SHAKE : "shake", // 摇晃
                //如果有自定义的动作分组可以放在这里

                // 与外部定义json文件相匹配
                HIT_AREA_HEAD : "head",
                HIT_AREA_BODY : "body",

                //初始化的模型大小
                SCALE : 1.0
            };
		</script>
        <!--/*/</th:block>/*/-->


</body>
</html>
