<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="_fragments :: head(~{::title})">
		<title>搜索结果</title>
	</head>
	<body>
		
		<!--导航-->
		<nav th:replace="_fragments :: menu(0)"></nav>
					
		<!--中间内容-->
		<div class="m-padded-tb-big m-container-small">
			<div class="ui container">
				<!--header-->
				<div class="ui top attached segment"><!--top attached会把header与博客列表连接在一块-->
					<div class="ui middle aligned two column grid"><!--共两列:middle aligned代表垂直方向的居中-->
						<!--第一列-->
						<div class="column">
							<h3 class="ui teal header">搜索结果</h3>
						</div>
						<!--第二列-->
						<div class="right aligned column">
							共  <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}">14</h2> 篇
						</div>
					</div>
				</div>
			
				<!--搜索对应的博客列表-->
				<div class="ui teal attached segment">
					<!--一个博客的显示-->
					<div class="ui padded  vertical segment" th:each="blog : ${page.content}">
						<div class="ui middle aligned mobile reversed stackable grid"> <!--mobile reversed就是说当是手机端的时候，将图片的div放到上面-->
							<!--左边占11份-->
							<div class="eleven wide column">
								<!--文章标题-->
								<h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m_black" th:text="${blog.title}">你真的理解什么是财富自由吗？</a></h3>
								<!--描述内容;|${blog.description}......|代表可以将......与${blog.description}连接在一起-->
								<p th:text="|${blog.description}......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
								<!--作者等信息-->
								<div class="ui grid">
									<div class="eleven wide column">
										<div class="ui horizontal link list"><!--横着的list-->
											<div class="item">
												<!--图片大小：100X100-->
												<img src="../static/img/头像.jpg" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image" />
												<!--名字-->
												<div class="content"><a href="#" class="header" th:text="${blog.user.nickName}">Emma</a></div>
											</div>
											<!--时间-->
											<div class="item"><i class="calendar icon"></i><span th:text="${#dates.format(blog.creatTime,'yyyy-MM-dd')}">2020-05-16</span></div>
											<!--访问量-->
											<div class="item"><i class="eye icon"></i><span th:text="${blog.views}">1000</span></div>
										</div>
									</div>
								</div>
							</div>

							<!--右边-->
							<div class="five wide column">
								<!--图片：是一个链接，点击图片可以进入文章-->
								<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
									<!--图片大小：800x400--> <!--https://picsum.photos/id/1008/800/450-->
									<img src="https://picsum.photos/id/1008/800/450" th:src="@{${blog.firstPicture}}" alt="" class="ui rounded image" />
								</a>
							</div>
						</div>
					</div>


					<!--botton：上下翻页按钮-->
					<div class="ui bottom attached segment" th:if="${page.totalPages}>1">
						<div class="ui middle aligned two column grid"><!--共两列:middle aligned代表垂直方向的居中-->
							<!--第一列-->
							<div class="column">
								<a href="#" th:href="@{/(page=${page.number}-1)}" class="ui mini teal basic button" th:unless="${page.first}">上一页</a><!--teal basic用于形容样式-->
							</div>
							<!--第二列-->
							<div class="right aligned column">
								<a href="#" th:href="@{/(page=${page.number}+1)}" class="ui mini teal basic button" th:unless="${page.last}">下一页</a>
							</div>
						</div>
					</div>
				</div>
				
			</div>		
		</div>
		

		<!--底部-->
		<footer th:replace="_fragments :: footer"></footer>



		<th:block th:replace="_fragments :: script"></th:block>

		<!--写自己的js样式 -->
		<script>
			/*处理：menu toggle，要写成：menu.toggle*/
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');  /*意思是如果有m-mobile-hide样式，一点击就取消；如果没有，一点击就出现*/
			});
		</script>	
		
	</body>
</html>
